
/* Navbar styling White background with Black Colour Font */
nav {
    color: black;
    background-color: white;
    width: 100%;
    height: 56px;
    line-height: 56px;
}



nav .button-collapse i {
    color: black;
}


/*-- Changes the style on the toggle --*/
nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 38px;
    height: 56px;
    line-height: 56px;
}



nav ul a {
    color: black;
}

@media only screen and (min-width: 1024px){
nav ul a{
   font-size: 0.8rem;  
}}



nav .brand-logo{
    color: black;
    font-size: 1.5rem;
}

@media only screen and (min-width: 1024px){
nav .brand-logo{
     font-size: 1.0rem;
     padding-left: 20px;
}}

.side-nav li>a {
    font-size: 35px; 
    margin-top: 10px;
    margin-bottom: 20px; 
}

/*-- Landing Page----*/
.center{
    align-content: center;
    height: 40vh;
}


.home-image{
     width: 30%;
    height: 50%;
    padding-right: 40px;
    margin-top: 30px;

}


.home-message{
    text-align: center;
    font-size: 2rem;
    margin-top: 10px;
    font-family: 'Pacifico', cursive;
}


.home-btn {
    background-color: black;
    margin-top: 20px;
    font-size: 25px;
    padding-left: 20px;
    padding-right: 20px;
}

@media only screen and (min-width: 1024px){
#buttonhome{
     display: none;
}}


.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    outline: 0;
}



/*---Cards and background stylin--*/
.latest-bg{
    background-color: black;
    margin-bottom:  0;
    font-family: 'Pacifico', cursive;
}

.latest{
    margin-bottom: 0;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30PX;
}

.card-space{
    width: 100%;
    
}

h1{
    text-align: center;
    font-size: 2rem;
    
}

.card .card-title {
    font-size: 60px;
    font-weight: 300;
    font-family: 'Pacifico', cursive;
    margin-top: 20px;
    padding-bottom: 40px;
}

.recipe-link{
    margin-left: 20px;
}

.recipe_images {
    width: 100%;
    height: 40vh;
}

.recipe_image {
    width: 100%;
    height: 40vh;
}


.material-icons {
    font-size: 50px;
}

.reveal-head{
    margin-left: 5%
}

.reveal-sub{
    margin-left: 5%
}

.margin-row{
    margin: 0;
    background-color: black;
}

@media only screen and (min-width: 1024px){
.card{
    margin-left: 20%;
    margin-right: 20%;
}
    
}

/*-- Individual Recipe page styling  --*/



@media only screen and (min-width: 1024px){
.recipe_images{
    
    width: 100%;
    height: 40vh;
    margin-top: 80px;
}}

.row .col.s12 {
    width: 100%;
}

@media only screen and (min-width: 1024px){
.row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}}


/*-- Recipe page --*/
.back-colour{
    background-color: black;
    color: white;
}
.recipe-header{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.table-style{
    font-size: 30px;
    text-align: center;
    margin-left: 40px;
}

.ingred-head{
    text-align: center;
    text-decoration: underline;
    font-family: 'Pacifico', cursive;
}

.ingred-style{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.btn-edit{
    margin-left: 300px;
    margin-right: 15px;
    
}

.btn-remove{
    background-color: red;
}

/*-- Add Recipes Style --*/

.add-header{
    font-size: 1.8rem;
    font-family: 'Pacifico', cursive;
    margin-left: 40px;

}

@media only screen and (min-width: 0){
html {
    font-size: 40px;
}}

.add-btn{
    background-color: black;
    font-size: 35px;
}

