
/* Navbar styling White background with Black Colour Font */
nav {
    color: black;
    background-color: white;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

nav .button-collapse i {
    color: black;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
    display: block;
    font-size: 38px;
    height: 56px;
    line-height: 56px;
}



nav ul a {
    color: black;
}

nav .brand-logo{
    color: black;
    font-size: 1.5rem;
}

.side-nav li>a {
    font-size: 35px;  
}

/*-- Landing Page----*/
.center{
    align-content: center;
    height: 40vh;
}


.home-image{
     width: 30%;
    height: 50%;
    padding-right: 40px;
    margin-top: 30px;

}

h1{
    text-align: center;
    font-size: 2rem;
}

.home-btn {
    background-color: black;
    margin-top: 20px;
}

.btn, .btn-large, .btn-floating, .btn-large, .btn-flat {
    outline: 0;
}



/*---Cards and background stylin--*/
.latest-bg{
    background-color: black;
    margin-bottom:  0;
}

.latest{
    margin-bottom: 0;
    color: white;
    text-align: center;
}

.card-space{
    width: 100%;
    
}

.recipe-title{
    font-size: 60px;
}
.margin-row{
    margin: 0;
    background-color: black;
}


/*-- Individual Recipe page styling  --*/

.recipe_image {
    width: 100%;
    height: 40vh;
}

.row .col.s12 {
    width: 100%;
}

@media only screen and (min-width: 1024px){
.row .col.m6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
}}


/*-- Recipe page --*/
.back-colour{
    background-color: black;
    color: white;
}
.recipe-header{
    text-align: center;
}

.table-style{
    font-size: 30px;
    text-align: center;
    margin-left: 40px;
}

.ingred-head{
    text-align: center;
    text-decoration: underline;
}

.ingred-style{
    font-size: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    font-family: 'Gloria Hallelujah', cursive;
}

.btn-edit{
    margin-left: 600px;
    margin-right: 15px;
    
}

.btn-remove{
    background-color: red;
}

/*-- Add Recipes Style --*/

@media only screen and (min-width: 0){
html {
    font-size: 40px;
}}

