<!DOCTYPE html>
<!--The Base Html Page is page to save you time replicating code. This Html, Javascript etc will be used across all pages-->
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css"/>
        <title>Secret Recipes</title>
    </head>
    <header>
<!--Navbar to be displayed across all pages with a sidebar for use with mobile-->
        <nav>
            <div class="nav-wrapper">
                <a href="{{url_for('get_home')}}" class="brand-logo">Secret Recipes</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{{url_for('get_home')}}" class="nav-link">Home</a></li>
                    <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipes</a></li>
                    
                </ul>
                 <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('get_home')}}">Home</a></li>
                    <li><a href="{{url_for('get_recipes')}}">All Recipes</a></li>
                    <li><a href="{{url_for('add_recipe')}}">Add Recipes</a></li>
                </ul>
             </div>
        </nav>
    </header>

    <body>
        
        {% block content %}
        {% endblock %}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<!--Jquery used to help Materializecss Intialization-->
        <script type="text/javascript">
        $(document).ready(function() {
            $(".button-collapse").sideNav();
        });
        $(document).ready(function() {
            $('select').material_select();
         });
        </script>
        <script>
        $('#textarea1').val('New Text');
        $('#textarea1').trigger('autoresize');
        </script>
         </body>
        </html>