{% extends 'base.html' %}
{% block content %}
    <!--loops through the recipe Database and displays all info in cards below-->
    <div class="center">
    <img src="/static/images/chefhat.png" alt="Related Book 1" class="home-image">
    <h1> Tell us your secret!</h1>
    <a class="waves-effect btn home-btn" href="{{url_for('add_recipe')}}">Add Recipe</a>
    </div>
    <div class="latest-bg">
    <h2 class="latest">Latest Recipes</h2>
    </div>
    {% for recipe in recipes %}
    <div class="row margin-row">
    
        <div class="col s12 card-space">
          <div class="card">
            <div class="card-image">
            <img class="recipe_image" src="{{recipe.image}}">
           
            </div>
            <div>
                <h1><a class="recipe-title" href="{{url_for('show_recipe', recipe_id=recipe._id,)}}">{{recipe.recipe_name}}</a></h1>
            </div>
            <div class="card-content">
        <table class="table-style">
        <thead>
          <tr>
              <th>Time</th>
              <th>Serves</th>
              <th>Course</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td><i class="material-icons">access_time</i>{{recipe.recipe_time}}</td>
            <td><i class="material-icons">people</i>{{recipe.recipe_serves}}</td>
            <td><i class="material-icons">thumbs_up_down</i>{{recipe.course_type}}</td>
          </tr>
        </tbody>
      </table>
            </div>
          </div>
        </div>
    </div>
    
    
    

    {% endfor %}

{% endblock %}
