{% extends 'base.html' %}
{% block content %}
    <!--loops through the recipe Database and displays all info in cards below-->
    <div class="latest-bg">
    <h3 class="latest-all">All Recipes</h3>
    </div>
    {% for recipe in recipes %}
    <div class="row margin-row">
        <div class="col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light card-space">
                    <img class="recipe_image activator" src="{{recipe.image}}">
                </div>
            <div class="card-content">
                <span class="card-title activator grey-text text-darken-4 recipe-title">{{recipe.recipe_name}}<i class="material-icons right">more_vert</i></span>
                <p><a class="recipe-link" href="{{url_for('show_recipe', recipe_id=recipe._id,)}}">View Recipe</a></p>
            </div>
            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">{{recipe.recipe_name}}<i class="material-icons right">close</i></span>
                <p>Here you can find the cooking time, total amount served and the course type.</p>
                <p class="reveal-head"><strong> Time</strong></p>
                <p class="reveal-sub"><i class="material-icons">access_time</i> {{recipe.recipe_time}}</p>
                <p class="reveal-head"><strong>Serves</strong></p>
                <p class="reveal-sub"><i class="material-icons">people</i> {{recipe.recipe_serves}}</p>
                <p class="reveal-head"><strong>Course Type</strong></p>
                <p class="reveal-sub"><i class="material-icons">thumbs_up_down</i> {{recipe.course_type}}</p>

            </div>
            </div>
        </div>
    </div>
    
    

    {% endfor %}

{% endblock %}

